[Unit]
Description=Temperature Monitoring Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /var/www/html/temppi.py
WorkingDirectory=/var/www/html/
Restart=always
RestartSec=2

[Install]
WantedBy=sysinit.target
